$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: Georgia, serif;
$trimColor: #878787;
$navWidth: 300px;
$contentWidth: 900px;
$mobileWidth: 780px;

html,
body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
    margin: 0px;
}

.highlight pre {
    padding: 10px;
    border-radius: 5px;
}

#socials {
    width: $navWidth;
}

#navbar {
    max-width: $navWidth;
    background-color: $trimColor;
    color: white;
    box-shadow: 0px 0px 10px 4px black;
}

#title > a {
    font-style: normal !important;
}

#navbar a {
    color: white;
    font-style: italic;
}

#content {
    padding-left: 40px;
    padding-right: 40px;
    max-width: $contentWidth;
}

#content img {
    max-width: 90%;
    max-height: 500px;
    margin-left: 5%;
}

.monospace {
    font-family: "Courier New", monospace;
}

.mini {
    font-size: 0.8rem;
}

.category:hover {
    text-decoration: none;
}

@media only screen and (max-width: $mobileWidth) {
    #navbar {
        display: none;
    }

    #content {
        padding-right: 10px;
        padding-left: 10px;
    }
}
