<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <title>{{ site.title }} | {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">
    </head>

    <body>
        <div class="row m-0">
            <div id="navbar" class="col min-vh-100">
                <div class="container py-4 sticky-top">
                    <div class="px-2">
                        <h1 id="title">
                            <a href="/">{{ site.title }}</a>
                        </h1>

                        <br/>

                        <span>Navigation</span>
                        <ul>
                            {% for item in site.data.sidebar %}
                            <li><a href="{{ item.url }}">
                                {{ item.name }}
                            </a></li>
                            {% endfor %}
                        </ul>

                        <span>Recent posts</span>
                        <ul>
                            {% for post in site.posts limit:site.limits.navbar %}
                                {% if post.feed != false %}
                                <li><a href="{{ post.url }}">
                                    {{ post.title | truncate: 24 }}
                                </a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="px-4 fixed-bottom">

                    </div>
                </div>
            </div>

            <div class="col">
                <div id="content" class="py-4">
                    {{ content }}
                </div>
            </div>
        </div>
    </body>

    <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
</html>
